* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header{
  color:lightgray;
  background-color: rgb(36, 32, 32);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section div {
  background-color: rgb(236, 231, 231);
  padding: 20px;
  border-radius: 18px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 3px 3px rgb(199, 197, 197);
}

.tech-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}

section p {
  text-align: center;
  margin-top: 10px;
}

.container-tech-container{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  align-items: center;
  justify-content: stretch;
}

h4 {
  color: gray;
}

hr {
  color:red;
  width: 180px;
  background-color: blue;
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

